.ItemWrapper {
  position: relative;
  padding: 5px 0;

  &._active {
    z-index: 1;
  }
}

.Item {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border: solid 1px black;

  &__content {
    flex: 1 1 0;
    padding: 0 10px;
  }
}
